*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

/*scroll-behavior:smooth; */
}
body{

/* background:#f5f7fb; */
background-color: #002222;
color:#222;
line-height:1.7;
}
header{
background:#0b3d91;
/*
background:#002147;*/
padding:15px 8%;
position:fixed;
width:100%;
top:0;
z-index:1000;
box-shadow:0 2px 10px rgba(0,0,0,0.2);
}
nav{
display:flex;
justify-content:space-between;
align-items:center;
}
.logo{
display:flex;
align-items:center;
color:white;
font-size:24px;
font-weight:700;
margin-left: -50%;
}
.logo img{
width:55px;
margin-right:12px;

}
nav ul{
display:flex;
list-style:none;
}
nav ul li{
    margin-left: 30px;
}
nav ul li a{
color:white;
text-decoration:none;
font-weight:500;
transition:0.3s;

}
nav ul li a:hover{
color: #0b3d91;
/*color:#ffb400;*/
background-color: white;
padding: 2px;
border-radius: 3px;

}
.hero{
background: url(/IPOL-ENFA/photos/0023.jpg) center/cover;
height:90vh;
background:linear-gradient(rgba(2,0,4,0.6),rgba(2,0,0,0.6)),url('/IPOL-ENFA/photos/immo2.jpg');
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
/*color: black; */
padding:20px;

}

.hero-content img{
    border-radius: 50% 50%;
}
.hero-content{
/*background-color: #848785;*/
border-radius: 10px;
padding: 5px 20px;
}

.hero-content:hover{
 background-color: #00152d;
/*background-color: #d5e0d8; */
border-radius: 10px;
padding: 5px 20px;
}

.hero-content h1{
font-size:35px;
margin-bottom:20px;
}
.hero-content p{
font-size:20px;
max-width:850px;
margin:auto;
margin-bottom:30px;
}
.hero-content h1:hover{
font-size:30px;
margin:auto;
color: blue;
margin-bottom:35px;
}

.btn{
display:inline-block;
padding:14px 28px;
background:#ffb400;
color:white;
text-decoration:none;
border-radius:50px;
font-weight:600;
transition:0.3s;
}
.btn:hover{
background:#ff9900;
transform:scale(1.05);
}

.btn2{
display:inline-block;
padding:14px 28px;
background:#2b2a26;
color:white;
text-decoration:none;
border-radius:50px;
font-weight:600;
transition:0.3s;
}

.tol{
    color: red;
}
.btn2:hover{
background-color: #32dd71;
transform:scale(1.05);
}
section{
padding:100px 8%;
}
.section-title{
text-align:center;
font-size:38px;
margin-bottom:20px;
color:white;
margin-top: -30px;
border-bottom: solid 0.01px  #f2d3a4;;
}

.jaune{
  color:  #ff9900;
  border-bottom: solid 2px white;
  border-radius: 5px;
}


.section-subtitle{
text-align:center;
max-width:850px;
margin:auto;
margin-bottom:50px;
color: #aacdb5;
/* color:#555; */
}
.about, .mission, .why{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:30px;
}
.box{

background-color: #14272b;
border: solid 1px  #ff9900;
/* background:white; */
padding:30px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
transition:0.3s;
color: #aacdb5;
}


.box h3{
 padding: 0px 20px;
 border-radius: 15px;
color:  #ff9900;
border: solid 0.02px rgb(81, 82, 81);
}
.box h3:hover{
background-color: white
}

.box img{
    margin-left: 35%;
    border-radius: 50%;
    margin-top: -7%;
}
.box p{
color: #aacdb5;

}

.box:hover{
transform:translateY(-8px);
}

.services-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
}


.service-card{
/* background:rgb(230, 13, 13); */
background-color: #14272b;
padding:25px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
transition:0.3s;
/* cursor:pointer; */
color: #aacdb5;

border:solid 0.2px #0de631;

}
.service-card:hover{
transform:translateY(-15px);
background:#002147;
color:white;
/* border: solid 2px rgb(81, 82, 81); */
border: solid 0.1px whitesmoke

}

.service-card h3{
padding: 3px;
margin-bottom:15px;
color:  #ff9900;
border: solid 0.02px rgb(81, 82, 81);

}


.aller{
list-style: none;
text-decoration: none;
background-color: #e64819;
border-radius: 5px;
color: black;
padding: 7px;
}

.aller{
    animation:fadeIn 5s infinite 5s;
}

@keyframes fadeIn{

    0%{ opacity: 0; color: blue; background-color: white;}
   100%{ opacity:3 ; color: #ff9900;; background-color:blue ;
     border-left: solid 2px greenyellow; border-right: solid 2px rgb(81, 82, 81); }
 
    /*0%{ opacity: 3}
   100%{ margin: 2px 2px;  background-color: rgba(238, 238, 24, 0.965); border-left: solid 3px blue;
border-right: solid 3px rgb(225, 14, 14); border-radius: 15px;}  */

   

   /* 0%{ margin: 0px 2px ;color: #d32525; }
    4%{margin: 0px 1px ; color:rgb(255, 0, 34)} */
}




.aller:hover{
 background-color: yellow;
transform:scale(5.05);
padding: 10px;
}

/* ICI UN COMMENTAIRE POUR LE SOUS DE CONTACT */

.h3{
   margin-left: 35%;
   color: #6d6de4;
   display: inline-block;
   padding: 5px;
   border-radius: 5px;
}

.formation-detail{

/* background:white; */
margin-top:60px;
background-color: #14272b;
padding:35px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
color: #aacdb5;
}


.formation-detail h2{
text-align: center;
color: #6d6de4;
   /* color:   #002147; */
}

.formation-detail{

  animation:laby 30s infinite 30s;
}

@keyframes laby{

 
    50%{ color:black; background-color:black  }
   100%{ color:white; background:linear-gradient(rgba(2,0,4,0.6),rgba(2,0,0,0.6)),url('/IPOL-ENFA/photos/immo2.jpg');
     }

   

   /* 0%{ margin: 0px 2px ;color: #d32525; }
    4%{margin: 0px 1px ; color:rgb(255, 0, 34)} */
}

.contact-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:40px;
}
.contact-info{
/* background:rgb(189, 178, 178); */
background-color: #14272b;
color:white;
padding:35px;
border-radius:15px;
}
.p1 {
color: #6d6de4;
margin-left: 5%;
font-size: 25px;
}

.contact-info li {
    list-style: none;
    background-color: #555;
    border-radius: 5%;
}
.contact-info li a{
    color: rgb(163, 227, 228);   
    margin-left:10% ;
    text-decoration: none;
    font-size:15px ;
   
}
.couleur{
    color: black;
    font-size: 17px;
}

.contact-info li a:hover{
    color: white;
    padding: 2px;
}
.contact-form{
/* background:white; */
background-color: whitesmoke; 
padding:35px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);

}
.contact-form input,
.contact-form textarea{
width:100%;
padding:14px;
margin-bottom:20px;
border:1px solid #ccc;
border-radius:8px;
}
.contact-form button{
border:none;
}



footer{
/* background:#00152d;  */
/* background:#010913;  */
background:#040b19; 
/* color: #aacdb5; */
 color:blue;
/*padding:40px 8%;*/
padding: 10px 5px;


}

/* piede de page styliation*/
.foot-entete{
     display: flex;
     /*justify-content: space-around; */
     flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
   
     }
   
    .coll{
       /* background:#041d39; */
       font-size: 18px;

    }
    ul{
        margin-top: 10px;
    }

     ul li{
        list-style: none;
        flex-wrap: wrap;
     }
      ul li a{
       text-decoration: none;
       flex-wrap: wrap;
      color: #aacdb5;
          /* color: rgb(216, 102, 102); */
       /* color: whitesmoke; */
     }

      ul li a:hover{
       text-decoration: none;
       flex-wrap: wrap;
       color: rgb(220, 112, 112);
       
       border-bottom: solid 2px #ff9900;    /* white ; */
     }


     .igo{
        border-radius: 50%;

     }
     .copie-right{
        margin-top: 1px;
       text-align: center;
           color:#555;
       
     }
     
.socials a{
color:white;
margin:0 10px;
font-size:20px;
text-decoration:none;
}

.whatsapp{
position:fixed;
bottom:25px;
right:25px;
background:#25D366;
color:white;
width:60px;
height:60px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:28px;
text-decoration:none;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

@media(max-width:900px){
nav{
flex-direction:column;
}
nav ul{
margin-top:15px;
flex-wrap:wrap;
justify-content:center;
}
.hero-content h1{
font-size:40px;
}
}